<div class="logo">
  <%=  link_to '<i class="icon-link"> 2 rich</i> '.html_safe, root_url, 
      :class => 'removeborder' %> 

</div>
<div class="clearfix">&nbsp;</div>
<div class="slideNav navbar clearfix">
  <div class="navbar-inner">
    <ul class="nav" data-liquidslider-ref="slider-id">
      <li><a href="#make-links"  data-liquidslider-ref="slider-id"><i class="icon-fire"></i>Make a Link</a></li>
      <% if @links.size > 0  %>
        <li><a href="#show-links"  data-liquidslider-ref="slider-id">
          <i class="icon-eye-open"></i> Show links
      </a></li>
      <% end %>
      <li><a href="#bookmarklet" data-liquidslider-ref="slider-id"><i class="icon-fighter-jet"></i> Bookmarklet</a></li>
    </ul>
  </div>
</div>
