<div class="liquid-slider"  id="slider-id">
    <div>
      <h2 class="title">Make Links</h2>
        <%= render 'form' %>
        <%# link_to 'Back', links_path %>
    </div>
    <div>
      <h2 class="title">Show Links</h2>
      <%= render 'show_all' %>
    </div>          

    </div>
    <!-- Liquid Slider Ends Here -->
  </div><!-- wrapper -->
