/*
JAHS LINKS GRABBER

*/
body {
  background:transparent url(/assets/header-bg-50.png) repeat top center !important;
  margin-bottom:50px;

}

#wrapper {
  width:980px;
  margin:0 auto;  
  margin-top:35px;

}

#slider-id,.editWrapper {
min-height:500px;
box-shadow: 0 0 3px rgba(200,200,200,0.5);
border-radius: 4px;  
/*padding-top:75px;*/
}

.editWrapper{
    padding-top:50px;
    background: #f2f2f2;
}

.urlsaver input  {
  float:left;
  border-radius: 6px;
  padding: 14px;
  width: 500px;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  margin-bottom:75px;
  margin-right:50px;
  margin-left:120px;
  height:40px !important;
}

.actions .btn{
height: 47px;
}

.actions .btn, .urlsaver input {
  margin-top:50px;  
}

/* NAVIGATION */
.slideNav {
 width:435px;
 float:right; 
}

.logo {
font-size: 2em;
position: absolute;
margin-left: 30px;
margin-top: -7px;
}
.logo a { font-size:2em; }

.panel-wrapper pre {margin-top:25px;}

/* FLASH NOTICES*/
#error_explanation {color:red;}

#notice {
  width:100%;
  color: #000;
  font-weight:bold;
  text-align:center;
  line-height:50px;

  background:#97E96D url(/assets/bg.png) no-repeat top center !important;
  margin-top:0;
  height:50px;
  padding:10px;

}

/* UTILITIES */

.controlsave {


}
.removeborder {
  border:0 !important;
  text-decoration: none  !important;
}

